<div class="page">
    <div class="headline">
        <h2>Drawings</h2>
        <div class="divider"></div>
        <div>
            <button class="azure-devops-button add-icon" (click)="add()">+ New Drawing</button>
        </div>
    </div>
    <div class="content">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        <span>Name</span>
                    </th>
                    <th>
                        <span>Last Changed</span>
                    </th>
                    <th style="width: 32px;">
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (drawing of drawings(); track drawing.id) {
                <tr (click)="drawingIdSelected.emit(drawing.id)">
                    <td>
                        <span>{{drawing.name}}</span>
                    </td>
                    <td>
                        <span>{{drawing.updatedAt | date: 'mediumDate'}} - {{drawing.updatedAt | date: 'shortTime'}}</span>
                    </td>
                    <td class="menu-cell">
                        <app-kebab-menu (rename)="rename(drawing)" (delete)="delete(drawing)" (click)="$event.stopPropagation()"></app-kebab-menu>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>